/*General Page Stylings */
body {
    color: white;
    background-color: black;
}

.primary-font {
  font-family: 'Monoton', sans-serif;
}

.secondary-font {
  font-family: 'Roboto', sans-serif;
}

.primary {
    background-color: #c5283d;
}

.off-white {
  color:#fafafa;
}

.card-panel {
  background-color: black;
}

.flash-msg {
  line-height: 5;
}

.btn {
  background-color:#c5283d;
  border-style: solid;
  border-color: white;
  border-width: 1px;
}

.card-container{
  display: flex;
  flex-direction: row;
}

/*Register Page Stylings */
#register-card {
  display: flex;
}

#register-card-info-left, #register-card-info-right {
  flex: 2;
  padding: 1em;
}

#register-card-info-left{
  margin-right: 0.5em;
  font-size: 25px;
  text-align:center;
  padding: 30px;
}

#register-card-info-right{
  margin-left: 0.5em;
}

.stripes {
  color: white;
  background: repeating-linear-gradient(
    45deg,
    #c5283d,
    #c5283d 20px,
    black 20px,
    black 40px
  )
}

.input-field input[type=text]:focus + label {
  color: #fff;
}
.input-field label {
  color: #fff;
  display: block;
}

/*Games Page Stylings */
.border {
   width: 33%;
}

.game-card {
  width: 200px;
  height: 200px;
  
}

.title-bg {
  background-color: black;
  height: 50px;
  width: 100px;
}

.card .card-title {
  font-size: 20px;
  padding: 0;
}

.card-content {
  text-align: center;
}

.card .card-image .card-title {
  padding: 15px;
}

.border {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  padding: 10px;
}

.wl-button {
  font-size: 11px;
}

.label :active {
  color:#c5283d;
}

/*Add Game form stylings*/
.datepicker-date-display{
  background-color: #c5283d;
}
.datepicker-day-button {
  color:black;
}

.select-wrapper input.select-dropdown  {
  color: white;
}

.dropdown-content li>span {
  color:#c5283d;
}


.card-content > .btn-small {
  margin-top: 10px;
}

#game-name, #game-description , #img-url, #release-date{
  color: white;
}

/* Login Page stylings */

#login-form {
  padding: 80px;
}

/* Media queries */

@media(max-width: 576px) {
  .border {
    width: 100%
  }
}