{% extends "base.html" %}
{% block content %}
<div class="row col s6 m4">
    <ul class="row game-card ">
        {% for game in games %}
        <li class="border ">
            <div class="card">
                <div class="card-image ">
                    <img src="{{game.img_url}}">
                    <span class="card-title title-bg">{{game.game_name}}</span>
                </div>
            </div>
            <div class="card-content">
                <strong>{{game.genre_name}}</strong> <br>
                <p>{{game.game_description}}</p> <br>
                <p>{{game.release_date}}</p> <br>
                <p><small>{{game.created_by}}</small></p>
                {% if game.on_wishlist == "on" %}
                <i class="large material-icons tooltipped" data-position='bottom'
                    data-tooltip='Added to Watchlist'>done</i>
                {% else %}
                <a class="btn-floating btn-medium waves-effect waves-light red">
                    <i class="material-icons tooltipped" data-position='bottom' data-tooltip='Add to Watchlist'>add</i>
                </a>
                {% endif %}

            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

