{% extends "base.html" %}
{% block content %}
<div>
    <div class="card-container">
        {% for game in games %}
        <div class="border" style="width: 33%">
            <div class="card">
                <div class="card-image ">
                    <img src="{{game.img_url}}">
                    
                </div>
            </div>
            <div class="card-content">
                <h6 class="card-title">{{game.game_name}}</h6> <br>
                <strong>{{game.genre_name}}</strong> <br>
                <p>{{game.game_description}}</p> <br>
                <p>{{game.release_date}}</p> <br>
                <p><small>{{game.created_by}}</small></p>
                {% if game.on_wishlist == "on" %}
                <i class="large material-icons tooltipped" data-position='bottom'
                    data-tooltip='Added to Watchlist'>done</i>
                {% else %}
                <a class="btn-floating btn-medium waves-effect waves-light red">
                    <i class="material-icons tooltipped" data-position='bottom' data-tooltip='Add to Watchlist'>add</i>
                </a>
                <br>
                {% endif %}
                {% if game.created_by == session.user or game.created_by == 'ashwin-test'  %}
                <a href="{{ url_for('edit_game', game_id=game._id) }}" class="waves-effect waves-light btn-small primary">Edit</a>
                <a class="waves-effect waves-light btn-small primary">Done</a>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

