{% extends "base.html" %}
{% block content %}

<div class="row secondary-font">
    
        <div class="card-panel">
            <h3 class="center-align primary">
                {{ username }}'s Profile
            </h3>
            <h4 class='center-align primary primary-font'>
            Welcome to your profile. This is where you'll find all your posts on the site in one 
            convenient place!
            </h4>
        </div>
    
</div>

    

<div class="row">
    {% for game in profiles %}
        <div class="col s12 m4 border">
            <div class="card">
                <div class="card-image">
                    <img src="{{game.img_url}}" alt= "image of {{game.game_name}}" class="responsive-img">
                </div>
            </div>
            <div class="card-content">
                <h6 class="card-title">{{game.game_name}}</h6> <br>
                <strong>{{game.genre_name}}</strong> <br>
                <p>{{game.game_description}}</p> <br>
                <p>{{game.release_date}}</p> <br>
                <p><small>{{game.created_by}}</small></p>                
                <br>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}