{% extends "base.html" %}
{% block content %}
    <h2 class="center-align">Register Here</h2>

    <div class="row col s12 m6 off-white" id="register-card">
            <div class="col s12 m6 card-panel stripes" id="register-card-info-left">
                <p> <strong> In order to interact with the website and its features you must register an account with us. This
                    will allow you to browse the game gallery, interact with other users in the comment sections of the
                    games and create a watchlist of all your highly anticipated releases!</strong>
                </p>
            </div>
        <div class="col s12 m6 card-panel stripes" id="register-card-info-right">
            <form class="col s12 " method="POST" action="{{ url_for('register')}}">
                <!--Username Field -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_box</i>
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--Password Field-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!--Submit Button-->
                <div class="row">
                    <button class="btn waves-effect waves-light off-white" type="submit" name="action">Register
                        <i class="material-icons right">check</i>
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}